body {
  padding: 5px;
  font-family: sans-serif;
}

h2{
  margin: 5px 0 0 10px ;
  display: inline;
}

.selectable {
  cursor: pointer;
}

#alert_icon{
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  display: inline;
}

#loading_icon{
  width: 30px;
  height: 30px;
}