body {
  padding: 5px;
  font-family: sans-serif;
}

h2{
  margin: 5px 0 0 10px ;
  display: inline;
}

.clickable {
  cursor: pointer;
}

.selected {
  text-decoration: underline;
}

#alert_icon{
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  display: inline;
}

#loading_icon{
  width: 30px;
  height: 30px;
}

.leaflet-container {
  height: 800px;
  margin-right: 1em;
}

#route-selector {
  margin-left: 1em;
  margin-right: 1em;
  float: left;
}
#route-selector ul{
  list-style-type: none;
  padding: 0;
} 

#route-selector li{
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.2em;
}